<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Correct the link rel and href -->
  <title>Document</title>
</head>

<body>
    
    <form action="" method="post">
        <fieldset>
            <legend><u>login</u></legend>
            <label for="">usre</label>
            <input type="text" name="user" placeholder="user" required title="remplire name user">
            <label for="" placeholder="password">password</label>
            <input type="password" name="pass" id="" placeholder="password" title="remplire password">
            <button>submit</button>
        </fieldset>
    </form>
    <style>
        fieldset{
            width:100px;
            margin-left: 40%;
            margin-top: 15%;
        }
        label{
            display: block;
        }
        input{
          height: 15px;
          padding: 5px;
        }
        input:focus{
            background-color: rgb(196, 143, 143);
            color:beige
        }
      
    </style>
</body>
</html>